@charset "UTF-8";
.container {
	background-color: #000000;
	width: 1000px;
	height: 95vh;
	margin: 0 auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.header {
	width: 100%;
	height: 200px;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #FFFF00;
}

.header img.my_picture{
	float: left;
	padding-left: 40px;
   	height:200px;
   	width:200px;
}

.title {
	position: relative;
	left: 20px;
	font-weight: bold;
	font-style: normal;
	font-family: "Lucida Sans Unicode";
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 2px;
}

.contact {
	position: relative;
	left: 20px;
	font-weight: bold;
	font-style: normal;
	font-family: "Lucida Sans Unicode";
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 2px;	
}

.body {
	background-color: #000000;
	width: 100%;
	float: left;
	font-family: "Lucida Sans Unicode";
	color: #343434;
	padding-bottom: 15px;
}

.container .body h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 1%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}

.container .body p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #B3B3B3;
}

.container .body table {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #B3B3B3;
}

.footer {
	background-color: #FFFF00;
	margin: 0 auto;
	width: 1000px;
	height: 10px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.copyright {
	text-align: center;
	background-color: #FFFF00;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Lucida Sans Unicode";
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #222222;
}

